@import '@/styles/var.less';
.cardContent {
  padding: 0.2rem 0.2rem;
}

.date {
  margin-right: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid @danger-color;
  padding-bottom: 1px;
}

.dateBtnGroup {
  margin-left: 10px;
  position: relative;
  width: 20px;
  height: 27px;
  border: @default-border; 
  border-radius: @border-radius;
}

.dateBtnGroup2 {
  margin-left: 10px;
  position: relative;
  width: 20px;
  height: 27px;
  border-radius: @border-radius;
  background-color: @white;
}

.iconBtn {
  position: absolute;
  color: @text-color-desc;
  padding: 0 3px;
  box-shadow: @box-shadow;
  cursor: pointer;
  user-select: none;
  margin: 0 auto;
}
.iconBtn:hover {
  background-color: @white;
}

.up {
  top: 0;
}

.down {
  bottom: 0;
}

.showTodayBtn {
  margin-left: 8px;
  background-color: #e2e6ea;
  transition: opacity 100ms;
  transition-delay: 400ms;
  opacity: 1;
}
.showTodayBtnHide {
  opacity: 0;
  transition: opacity 100ms;
  transition-delay: 0;
}

.todayTomatoContent {
  padding-top: 2rem;

  :global(.ant-tabs-bar) {
      margin: 0 0 8px 0;
  }
}