@import './var.less';

:global {
  .fontIcon {
    font-size: 1.4rem;
    cursor: pointer;
  }
  .fontIcon:hover {
    transform: scale(1.1);
  }
  .fontIconSmall {
    font-size: 1rem;
    cursor: pointer;
  }
  .flexRow {
    display: flex;
    align-items: center;
  }
  .flexRowCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flexRowCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .emptyText {
    text-align: center;
    color: @text-color-tip;
    font-weight: 500;
  }
}
