@primary-color: #07c160;
@primary-color-De10: desaturate(@primary-color, 10%);
@primary-color-Sa10: saturate(@primary-color, 10%);
@primary-color-Fa10: fade(@primary-color, 10%);
@white: #fff;
@warn-color: #fa5151;
@danger-color: #dc3545;

@primary-border: 1px solid @warn-color;
@default-border: 1px solid hsl(0, 2%, 88%);
@border-radius: 3px;
@box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.2),
  0 10px 15px -15px rgba(0, 0, 0, 0.1);

@text-color-title: rgba(0, 0, 0, 0.9);
@text-color-desc: rgba(0, 0, 0, 0.5);
@text-color-tip: rgba(0, 0, 0, 0.3);

@bg-color-white-darker: hsl(0, 0%, 95%);
