.flexRowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkCell {
  width: 36px;
  padding: 5px;
  background-color: #07c160;
  border-radius: 3px 0 0 3px;
  composes: flexRowCenter;
}

.checkCell:hover {
  background-color: #1fc770;
}

.circle {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  composes: flexRowCenter;
}

.fontIcon {
  font-size: 16px;
}

.checkIcon {
  composes: fontIcon;
  color: #07c160;
}
